/*header styles start*/
header *{
    box-sizing: border-box;
    color:#eaf0f3;
}
header{
    position: relative;  
}
.nav {
    height: 50px;
    width: 100%;
    background-color: #226e9b;  
}

.nav{
    display: flex;
    justify-content: center;
}

.nav-logo{
    margin-right: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    gap:4%;
    font: normal 50 large "Anton SC", sans-serif;
}

.nav-logo h3:hover{
    color: aqua;
}

.nav-logo > img{
    height: 70%;
} 
.nav > .nav-header {
    display: inline;
}
  
.nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}
  
.nav > .nav-btn {
    display: none;
}
  
.nav > .nav-links {
    display: inline;
    float: right;
    color: #eaf0f3;
    font: normal 400 medium "Anton SC", sans-serif;
}
  
.nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #eaf0f3;
}
  
.nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: aquamarine;
}
  
.nav > #nav-check {
    display: none;
}
  
@media (max-width:600px) {

    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(50vh - 50px);
      overflow-y: auto;
    }

    .nav-logo{
        margin-right: 0;
    }

    header{
        position: relative; 
    }

}

/*header element styles end*/

/*main element styles start*/

.hero-section{
    display: grid;
    grid-template-rows: 15% 40% 15%;
    height: 50vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #eaf0f3, rgb(179, 179, 208));
    padding-top: 10%;
}

.main-intro{
    display: flex;
    justify-content: center;
    color: #343131;
    font: normal 400 60pt "Anton SC", sans-serif;
}

.short-description{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding:0 2% 0 2%;
    font: normal 400 20pt "Sour Gummy", sans-serif;
    font-variation-settings:"wdth" 100;
    color: #343131;
}

.short-description-button{
    font: normal 400 25pt "Sour Gummy", sans-serif;
    background-color: rgb(250, 193, 47);
    border-radius: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.short-description-button:hover{
    translate: 0 -5px;
    background-color:chartreuse;
}

.explore-button-container{
    display: flex;
    justify-content: center;
    width: 100%;
}

/*media queries for hero section * breakpoints are copied from W3Schools/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .main-intro{
        font: normal 400 30pt "Anton SC", sans-serif;
    }

    .short-description{
        font: normal 400 12pt "Sour Gummy", sans-serif;
        padding-top:3%;
    }

    .hero-section{
        height: max-content;
        padding-top: 20%;
    }

    .short-description-button{
        font: normal 400 15pt "Sour Gummy", sans-serif;
    }

    .explore-button-container{
        display: none;
    }
}
@media only screen and (min-width: 768px){
    .hero-section{
        height: max-content;
        padding-top: 10%;
    }
}

.supporting-section{
    display: flex;
    height: max-content;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 2% 0 2%;
    align-items: center;
    background: #226e9b;
    gap:2%;
}

.supporting-section-description, .supporting-section-photo{
    width: 50%;
}

.supporting-section-description{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    font-optical-sizing: auto;
    font: normal 400 20pt "Sour Gummy", sans-serif;
    font-variation-settings:"wdth" 100;
    color: #eaf0f3;
    padding: 0 2% 0 2%;
}

.supporting-photo-container{
    display: flex;
    justify-content: flex-end;
}

.supporting-section-photo{
    width: 100%;
    height: 30em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.supporting-description-button{
    font: normal 400 25pt "Sour Gummy", sans-serif;
    background-color: rgb(250, 193, 47);
    border-radius: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.supporting-description-button:hover{
    translate: 0 -5px;
    background-color:chartreuse;
}

.supporting-tech-stacks{
    color:#f8b966;
}

/*media queries for supporting section * breakpoints are copied from W3Schools/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .supporting-section{
        flex-wrap: wrap;
        text-align: left;
        flex-direction: column-reverse;
    }

    .supporting-section-photo{
        width:100%;
        height: 15em;
    }

    .supporting-photo-container{
        justify-content: center;
        width: 90%;
    }

    .supporting-section-description{
        font: normal 400 10pt "Sour Gummy", sans-serif;
        text-align: justify;
        padding: 0;
        width: 90%;
    }

    .supporting-description-button{
        font: normal 400 15pt "Sour Gummy", sans-serif;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1300px) {
    .supporting-photo-container{
        justify-content: center;
    }

    .supporting-section-description{
        text-align: justify;
        font: normal 400 15pt "Sour Gummy", sans-serif;
    }
}

.skills{
    height: 100vh;
    padding-top: 2%;
    background: #e6ebec;
}

.skill-container{
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: center;
}

.skill-container img{
    width: 25%;
}

.skill-set{
    border: solid 3px #343131;
    border-radius: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 80%;
    width: 30%;
    background: #edf0f1;
}


.skill-set:hover{
    background-color: aqua;
}

.skills img:hover{
    translate: 0 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.skill-logo-container{
    height: 40%;
    display: flex;
    flex-wrap: wrap;
    gap:3%;
    justify-content: center;
    align-items: center;
}

.skill-header{
    font: normal 400 2em "Anton SC", sans-serif;
    text-align: center;
    color: #343131; 
}

.skill-level{
    width: 50%;
    height: max-content;
    background: #bdc4c7;
    font: normal 400 20pt "Sour Gummy", sans-serif;
    text-align: center;
    border-radius: 5%;
    border: #7e898d solid 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*media queries for skills section * breakpoints are copied from W3Schools/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
    .skills{
        height: 150vh;

    }
    .skill-header{
        font: normal 400 15pt "Anton SC", sans-serif;
    }

    .skill-container{
        height: 40%;
        flex-wrap: wrap;
        gap: 5%;
    }

    .skill-set{
        width: 40%;
        padding-bottom: 0;
    }

    .skill-container img{
        width: 30%;
    }

    .game-dev img, .data-sci img{
        width: 50%;
    }

    .web-dev img{
        width: 35%;
    }

}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 650px) and (max-width: 1024px) {
    .skill-set{
        height: 80%;
    }

    .skills{
        height: 100vh;
    }

    .skill-header{
        font: normal 400 15pt "Anton SC", sans-serif;
    }

    .skill-container{
        height: 40%;
        flex-wrap: wrap;
        gap: 5%;
    }

    .game-dev img, .data-sci img{
        width: 50%;
    }

    .web-dev img{
        width: 25%;
    }
}

@media only screen and (max-width: 500px) {
    .skill-set{
        height: 80%;
    }

    .skills{
        height: 90vh;
    }

    .skill-header{
        font: normal 400 15pt "Anton SC", sans-serif;
    }

    .skill-container{
        height: 40%;
        flex-wrap: wrap;
        gap: 5%;
    }

    .game-dev img, .data-sci img{
        width: 50%;
    }

    .web-dev img{
        width: 35%;
    }
}

@media only screen and (min-width: 300px) and (max-width:390px){
    .game-dev img, .data-sci img{
        width: 35%;
    }

    .web-dev img{
        width: 25%;
    }
}

.projects{
    height: max-content;
    padding-top: 2%;
}

.project-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:5%;
}

.project{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    padding: 2.4% 2% 2% 2.4%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project:hover{
    background-color:antiquewhite;
}

.projects img{
    width: 90%;
}

.project-titles{
    font: normal 200 20pt "Anton SC", sans-serif;
    color: #343131; 
}

.project-description{
    font: normal 400 15pt "Sour Gummy", sans-serif;
    text-align: center;
}

.project-link-btn{
    margin-top: 5%;
}

.project-link-btn button{
    font: normal 400 20pt "Sour Gummy", sans-serif;
    background-color: aqua;
    border-radius: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-link-btn button:hover{
    translate: 0 -5px;
    background-color:chartreuse;
}

/*media queries for project section * breakpoints are copied from W3Schools/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) { 
    .project{
        width: 80%;
    }
    .project-link-btn button{
        font: normal 400 15pt "Sour Gummy", sans-serif;
    }
}

.headings{
    font: normal 400 40pt "Anton SC", sans-serif;
    text-align: center;
    color: #343131; 
    text-shadow: 2px 2px 8px #6e9cbb;   
}

.resume{
    height: max-content;
    padding: 4% 0 5% 0;
    background-color: #e3eef5;
    text-align: center;
}

.resume-description{
    font: normal 600 3rem "Sour Gummy", sans-serif;
}

.resume-btn{
    height: max-content;
    width: max-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font: normal 600 30pt "Sour Gummy", sans-serif;
    background-color: bisque;
    border-radius: 5px;
    border: solid 2px grey;
}

.resume-btn:hover{
    background-color:aqua
}

/*media queries for resume section * breakpoints are copied from W3Schools/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .resume-btn{
        font: normal 600 1rem "Sour Gummy", sans-serif;
    }

    .resume-description{
        font: normal 600 2rem "Sour Gummy", sans-serif;
    }
    
}

/*main element styles end*/






/*footer element styles start*/

.contact{
    padding: 3% 0 3% 0;
    height: 80vh;
    background-color: #433a3a;
    display: flex;
    justify-content: center;
}

.form-container{
    border-radius: 5px;
    padding-bottom: 15%;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: max-content;
}

form{
    width: max-content;
    display: flex;
    flex-wrap: wrap;
}

input[type=text], select textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }


.contact label, .contact-header{
    font: normal 600 20pt "Sour Gummy", sans-serif;
    color: #edf0f1;
}

.contact-header{
    text-align: center;
}

/*media queries for contact me section * breakpoints are copied from W3Schools/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
      textarea {	
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;	
        width: 100%;
    }

    .contact{
        height: max-content;
        padding:0;
    }

    input[type=submit] {
        width: 100%;
        padding: 0;
        font: normal 600 20pt "Sour Gummy", sans-serif;
      }
}

@media only screen and (min-width: 700px) {
    textarea {	
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;	
      width: 100%;
  }

  .contact{
    height: max-content;
    }
}

.soc-med-accounts{
    background-color: #c8cbcd;
    height: max-content;
    padding: 1% 0 1% 0;
    display: flex;
    justify-content: center;
}

.soc-med-container{
    width: 40%;
    display: inline-flex;
    justify-content: center;
}

.soc-med-accounts img{
    width: 25%;
}

.soc-med-accounts img:hover{
    translate: 0 2px;
}

@media only screen and (max-width:600px) {
    .soc-med-accounts img{
        width: 40%;
    }

    .soc-med-container{
        width: 60%;
    }
}
/*footer element styles end*/
/*Attributions
<a href="https://www.flaticon.com/free-icons/unity" title="unity icons">Unity icons created by Freepik - Flaticon</a>


<a href="https://www.flaticon.com/free-icons/c-sharp" title="c sharp icons">C sharp icons created by Freepik - Flaticon</a>


<a href="https://www.flaticon.com/free-icons/html" title="html icons">Html icons created by Pixel perfect - Flaticon</a>

<a href="https://www.flaticon.com/free-icons/css-3" title="css 3 icons">Css 3 icons created by Freepik - Flaticon</a>

<a href="https://www.flaticon.com/free-icons/javascript" title="javascript icons">Javascript icons created by Freepik - Flaticon</a>

<a href="https://www.flaticon.com/free-icons/php" title="php icons">Php icons created by Freepik - Flaticon</a>

<a href="https://www.flaticon.com/free-icons/mysql" title="mysql icons">Mysql icons created by Freepik - Flaticon</a>

<a href="https://www.flaticon.com/free-icons/data-science" title="data science icons">Data science icons created by Flat Icons - Flaticon</a>

<a href="https://www.flaticon.com/free-icons/python" title="python icons">Python icons created by Freepik - Flaticon</a>




<a href="https://www.flaticon.com/free-icons/facebook" title="facebook icons">Facebook icons created by Freepik - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/youtube" title="youtube icons">Youtube icons created by Freepik - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/linkedin" title="linkedin icons">Linkedin icons created by riajulislam - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/gitlab" title="gitlab icons">Gitlab icons created by Freepik - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/github" title="github icons">Github icons created by Pixel perfect - Flaticon</a>
*/
